@model FABS_Client_Web.Models.BookingDto


@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now.ToString("dd-MM-yyyy HH:mm");
    Model.StartDateTime = DateTime.Parse(time);
    Model.EndDateTime = DateTime.Parse(time).AddMinutes(15);
}

<h1>Create</h1>

<h4>BookingDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
        <div class="form-group">
            <label asp-for="StartDateTime" class="control-label"></label>
            <input asp-for="StartDateTime" class="form-control" onchange="startDateChange()" id="startDateInput"/>
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" onchange="endDateChange()" id="endDateInput"/>
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingLine.ItemId" class="control-label"></label>
                <input asp-for="BookingLine.ItemId" class="form-control" />
                <span asp-validation-for="BookingLine.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group" id="tableDiv">
                @*<ul>*@
                <table style="width: 100%" id="availableItemTable">
                    <tr>
                        <th>
                            Item ID
                        </th>
                        <th>
                            Itemtype name
                        </th>
                        <th>
                            Organisation ID
                        </th>
                    </tr>
                    @foreach (var item in (List<ItemDto>)ViewData["Items"])
                     {
                        @*<li>
                                @item.Id
                            </li>*@
                        <tr class="availableItemRow">
                            <td style="width: 20%">
                                @item.Id
                            </td>
                            <td style="width: auto">
                                @item.ItemTypesId.Name
                            </td>
                            <td style="width: 35%">
                                @item.OrganisationsId.Id
                            </td>
                        </tr>
                     }
                </table>
                @*</ul>*@

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>var items = @Json.Serialize(ViewData["Items"]);</script>
